<div class="wrapper">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="ma-0"><span class="fw-400">Gerald</span> <b>Morris</b></h4>
              <small>gerald@morris.com</small>
              <p class="mb-2">UX Developer</p>
              <a href="javascript:;" class="mt-1 d-block">email@contact.com</a>
              <a href="javascript:;" class="mt-1 d-block">www.example.com</a>
              <a href="javascript:;" class="mt-1 d-block">+1234567890</a>
            </div>
            <div class="col">
              <figure>
                <div class="text-center">
                  <div class="avatar-status bg-red">
                    <img src="assets/images/avatar.jpg" alt="" class="rounded-circle">
                  </div>
                  <div class="mt-1">Account Usage</div>
                </div>
                <div class="m-1">
                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                </div>
                <div class="text-center"><small>234Gb of 879Gb</small></div>
              </figure>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col">
              <h2 class="mt-0"><b>23,8K</b></h2>
              <small>Followers</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>569</b></h2>
              <small>Following</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>67</b></h2>
              <small>Posts</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="ff-headers text-uppercase mb-3"><strong>About Me</strong></p>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <ngb-tabset class="card-tab" style="float: right">
          <ngb-tab title="פרטים אישיים" style="float: right">
            <ng-template ngbTabContent>
              <div class="activity-stream">
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face1.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Received a call from Joel</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/avatar.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Header title</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    <a href="javascript:;" class="mr-1">Like</a>
                    <a href="javascript:;">Comment</a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face2.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Header title</div>
                      <div class="card-subtitle">Added a photo</div>
                    </div>
                  </div>
                  <div class="card-body">
                    <img src="assets/images/unsplash/20.jpg" style="width: 300px">
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face3.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Header title</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face4.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Uploaded new file</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>גלריית תמונות</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-body">
                  <h6 class="text-uppercase mt-0 mb-3">Basic Information</h6>
                  
                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">   
                        <span class="mr-auto">Mobile</span>
                        <strong>+20 0593 4095</strong>
                      </div>
                    </div>
                    <div class="col">          
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Extension</span>
                        <strong>94</strong>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">       
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Birthday</span>
                        <strong>30.09.67</strong>
                      </div>
                    </div>
                    <div class="col">          
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Country</span>
                        <strong>South Africa</strong>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">          
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Occupation</span>
                        <strong>Assistant</strong>
                      </div>
                    </div>
                    <div class="col">          
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Mobile</span>
                        <strong>+23908924</strong>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">          
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Twitter</span>
                        <strong>@mrperkins</strong>
                      </div>
                    </div>
                    <div class="col">          
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Facebook</span>
                        <strong>mrperkins</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="קופונים">
            <ng-template ngbTabContent>
              <div class="card card-body mb-0 pb-0">
                <div class="row">
                  <div class="media-tile media-tile-footer col-lg-3 col-sm-6" *ngFor="let id of images">
                    <figure>
                      <img src="assets/images/unsplash/{{id}}.jpg" alt="Card image cap" class="img-fluid" />
                      <figcaption>
                        <h6 class="media-title fw-300">{{ id }}</h6>
                        <small class="media-subtitle">Tile image {{ id }}</small>
                      </figcaption>     
                    </figure>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>